.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

    .login-form input {
        width: 100%;
        padding: 10px;
        margin: 10px 0; /* Dikey alan býrakma */
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .login-form button {
        width: 100%;
        padding: 10px;
        background-color: #FF7F00;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .login-form button:hover {
            background-color: #e76e00;
        }

    .login-form h2 {
        text-align: center;
        margin-bottom: 20px;
    }
