/* Genel Stil */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    height: 100vh;
}

h2 {
    font-size: 1.5rem;
    color: #FF7F00;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.2rem;
    color: #FF7F00;
    margin: 15px 0;
}

/* Görevler Listesi */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff; /* Görev kutusu arka plan rengi */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
}

/* Butonlar */
button {
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    background-color: white; /* Ana buton arka plan rengi */
    color: #FF7F00;
    cursor: pointer;
    transition: background-color 0.3s; /* Buton geçiþ efekti */
    font-size: 16px;
}

    button:hover {
        background-color: grey; /* Hover rengi */
    }

/* Form Alanlarý */
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box; /* Padding ve border alanlarý dahil */
}

/* Hata Mesajý */
.error {
    color: red;
    margin-top: 10px;
}

/* Task Formu */
.task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
