* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.layout {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.sidebar {
    width: 200px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 18px grey;
    border-radius: 10px;
    margin-right: 20px;
}

.task-distribution-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 18px grey;
    flex: 1;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    font-size: 1.5rem;
    color: #FF7F00;
    margin-bottom: 15px;
    text-align: center;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #FF7F00;
    color: white;
    font-weight: 600;
}

td {
    color: #555;
}

button {
    padding: 10px 20px;
    background-color: #FF7F00;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px auto;
    display: block;
}

    button:hover {
        background-color: #e76e00;
    }

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.task-distribution-container h3 {
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
