.user-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

    .user-form input,
    .user-form select,
    .user-form button {
        padding: 10px;
        border: 1px solid #ccc;
        font-size: 16px;
        flex: 1;
        border-radius: 10px;
        color: black;
    }

.user-list {
    max-height: 300px; 
    overflow-y: auto; 
    margin-top: 20px; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    background-color: #fff; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

    table th,
    table td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }

    table th {
        background-color: #f2f2f2;
    }

